<!--<header>
    <h1>Welcome to the HN .Net MVC pratical work</h1>
</header> -->
@model TPLOCAL1.Models.Form


<body>

    <section>
        
        <p style=" text-align : left;">Votre formulaire a bien été pris en compte</p>
        
        <table>
            <caption>Informations personnelles</caption>
            <tr>
                <th>Nom</th>
                <th>
                    @Html.DisplayFor(model => model.Nom)
                </th>
            </tr>
            <tr>
                <th>Prénom</th>
                <th>
                    @Html.DisplayFor(model => model.Prenom)
                </th>
            </tr>
            <tr>
                <th>Sexe</th>
                <th>
                    @Html.DisplayFor(model => model.Genre)
                </th>
            </tr>
            <tr>
                <th>Adresse</th>
                <th>
                    @Html.DisplayFor(model => model.Adresse)
                </th>
            </tr>
            <tr>
                <th>Code Postal</th>
                <th>
                    @Html.DisplayFor(model => model.CodePostal)
                </th>
            </tr>
            <tr>
                <th>Ville</th>
                <th>
                    @Html.DisplayFor(model => model.Ville)
                </th>
            </tr>
            <tr>
                <th>Adresse mail</th>
                <th>
                    @Html.DisplayTextFor(model => model.AdresseCourriel)
                </th>
            </tr>
        </table>
        <br />
        <table>
            <caption>Informations formation suivie</caption>
            <tr>
                <th>Date début formation</th>
                <th>
                    @Html.DisplayFor(model => model.DateDebut)
                </th>
            </tr>
            <tr>
                <th>Formation suivie</th>
                <th>
                    @Html.DisplayFor(model => model.Formation)
                </th>
            </tr>
        </table>
        <br />
        <table>
            <caption>Avis sur la formation</caption>
            <tr>
                <th>Formation Cobol</th>
                <th>
                    @Html.DisplayFor(model => model.AvisMainframe)
                </th>
            </tr>
            <tr>
                <th>Formation C#</th>
                <th>
                    @Html.DisplayFor(model => model.AvisCs)
                </th>
            </tr>
        </table>
    </section>


</body>



